// colors
$university-blue: #004071;
$ocean: #067FBC;
$sky: #00A1DD;
$orange: #F58220;
$brown: #917C77;
$black: #2A2F32;
$shadow: #818992;
$silver: #B3BFC6;
$grey: #EDF0F1;
$white: #F9F9F9;
$red: #C82828;
$faded-red: #FFF2E9;

$alert: $red;
$active: $orange;

$primary-bg: $university-blue;
$secondary-bg: $grey;
$tertiary-bg: $black;

$primary-text: $black;
$secondary-text: $ocean;
$tertiary-text: $shadow;

$primary-link: $ocean;
$secondary-link: $orange;

$primary-border: $silver;
$secondary-border: $orange;
$tertiary-border: $university-blue;

// Spacing & Sizing
$spacing-xs: 0.5em;
$spacing-sm: 1em;
$spacing-md: 1.5em;
$spacing-lg: 2em;
$spacing-xl: 3em;
$spacing-xxl: 4em;

$sizes: (
	xs: 0.5em,
	sm: 1em,
	md: 1.5em,
	lg: 2em,
	xl: 3em,
	xxl: 4em
);

// Breakpoints
$smartphones: 480px;
$tablet: 768px;
$desktop: 992px;
$largest: 1200px;